.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.btn {
  border: none;
  background-color: whitesmoke;
  color: black;
}

canvas {
  width: 100%;
  height: 400px;
  max-width: 100%;
  /* border: 3px solid #000; */
}

.canvas-row {
  width: 84%;
}

/* .infinity {
  position: relative;
  width: 106px;
  height: 50px;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px 50px 0 50px;
    border: 10px solid #32557f;
    transform: rotate(-45deg);

    /* Apply gradient border */
    /* box-shadow: 0 0 0 10px #32557f inset, 0 0 0 20px #78a2cc inset;
  }

  &::after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);

    /* Apply gradient border */
    /* box-shadow: 0 0 0 10px #78a2cc inset, 0 0 0 20px #32557f inset;
  }
} */


.infinity-symbol {
  position: relative;
  width: 106px;
  height: 50px;
  box-sizing: content-box;

  &::before,
  &::after {
    content: '';
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 10px inset #32557f;
    /* border-top-color: violet;
    border-right-color: blue;
    border-left-color: cyan;
    border-bottom-color: green; */
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }

  &::after {
    left: auto;
    right: 0;
    /* border-top-color: green;
    border-right-color: cyan;
    border-left-color: blue;
    border-bottom-color: violet; */
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
  }
}

